@media screen and (max-width:1050px)
{
    .front
    {
        float: none;
        width: 100%;
        height: auto;
    }
    .front1
    {
        float: none;
        width: 100%;
        height: auto;
    }
    .img
    {
        height: 750px;
        width: 100%;
    }
    .hey
    {
        font-size: 50px;
        /* text-align: center; */
        color:rgba(255, 230, 0, 0.855);
        position: relative;
        left: 25%;
        padding-top: 25%;
        /* padding-left: 50%; */
        width:100%;
    }
    .name
    {
        font-size: 100px;
        margin-top: -10%;
        /* text-align: center; */
        display: block;
        /* padding-left: 50%; */
        margin-bottom: 0px;
        position: relative;
        left: 25%;
        color: white;
        width: 100%;
        font-weight: 400;
    }
    .skill
    {
        font-size: larger;
        position: relative;
        left: 25%;
        width: 100%;
        color: rgba(255, 255, 255, 0.892);
    }
    #img1
    {
        float: none;
        height: 40vh;
        margin-right: 2%;
        width: 100%;
        background-color: aqua;
    }
    #img5
    {
        float: none;
        height: 40vh;
        margin-right: 2%;
        width: 100%;
        background-color: aqua;
        margin-top: 2%;
    }
    #img2
    {
        float: none;
        height: 40vh;
        width: 100%;
        background-color: cornflowerblue;
        margin-top: 2%;
    }
    #img6
    {
        float: none;
        height: 40vh;
        width: 100%;
        background-color: cornflowerblue;
        margin-top: 2%;
    }
    #img4
    {
        float: none;
        height: 40vh;
        width: 100%;
        background-color: aqua;
        margin-top: 2%;
    }
    #img3
    {
        float: none;
        height: 40vh;
        width: 100%;
        margin-right: 2%;
        background-color: cornflowerblue;
        margin-top: 2%;
    }
    .contact
    {
        margin-top: 3%;
        height: auto;
    }
    .logo
    {
        height: 40px;
        width: 40px;
    }
}