body
{
    margin: 0px;
}
.left
{
    position: relative;
    width: 100%;
}
.Home
{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.front
{
    float: left;
    background-color:rgb(63, 138, 141);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 49%;
    padding-bottom: 5%;
}
.img
{
    float: right;
    width: 50%;
    height: auto;
    overflow: hidden;
    /* background-color: aquamarine; */
}
.profile
{
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: relative;
    top: 10%;
    left: 10%;
}
.Harish_Profile_picture
{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}
#name>a
{
    font-size: 2em;
    color:rgba(255, 230, 0, 0.855);
    padding-left: 15%;
    margin-top: 5%;
    font-weight: 500;
    text-decoration: none;
}
#nav
{
    color: white;
    list-style: none;
    padding-left: 20%;
}
#nav>li
{
    margin-left: 3%;
    margin-right: 3%;
    float: left;
    font-size: larger;
    margin-top: -4%;
}
#nav>li>a
{
    text-decoration: none;
    color: white;
}
.hey
{
    font-size: 50px;
    /* text-align: center; */
    color:rgba(255, 230, 0, 0.855);
    position: relative;
    left: 32%;
    padding-top: 25%;
    /* padding-left: 50%; */
    width:100%;
}
.name
{
    font-size: 100px;
    margin-top: -10%;
    /* text-align: center; */
    display: block;
    /* padding-left: 50%; */
    margin-bottom: 0px;
    position: relative;
    left: 32%;
    color: white;
    width: 100%;
    font-weight: 400;
}
.img
{
    text-align: center;
}
.skill
{
    font-size: larger;
    position: relative;
    left: 32%;
    width: 100%;
    color: rgba(255, 255, 255, 0.892);
}